@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');

//Обнуляющий стиль
@import "_null";

body{
	font-family: 'Roboto Condensed', sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


