@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap");

//Обнуляющий стиль
@import "_null";

body {
	font-family: "Roboto Condensed", sans-serif;
	background: #fefefe;
	color: #1b1818;
	font-size: 16px;
	line-height: 1.18;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header {
	background: #332208;
	color: #fefefe;

	/* .header__container */

	&__container {
	}

	/* .header__inner */

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
	}
}
.logo {
	/* .logo__link */

	&__link {
	}
}
.menu {
	/* .menu__list */

	&__list {
		display: flex;
		column-gap: 30px;
	}

	/* .menu__item */

	&__item {
	}

	/* .menu__list-link */

	&__list-link {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 1.16;
		padding-bottom: 5px;
		transition: all 0.5s;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid #fefefe;
		}
	}
}
.phone {
	font-size: 18px;
	line-height: 1.16;
}
//-----------------

.top {
	/* .top__container */

	&__container {
	}

	/* .top__heading */

	&__heading {
		display: flex;
		padding: 52px 0px 30px 0px;
	}

	/* .top__content */

	&__content {
		text-align: center;
		padding: 89px 0px 0px 0px;
		width: 50%;
	}

	/* .top__title */

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 48px;
		line-height: 1.2;
		margin: 0px auto 20px;
		max-width: 455px;
	}

	/* .top__text */

	&__text {
		font-size: 24px;
		line-height: 1.16;
		margin: 0px auto 63px;
		max-width: 470px;
	}

	/* .top__slider */

	&__slider {
		width: 50%;
		.slick-dots {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&-text {
			font-family: "Fira Sans", sans-serif;
			font-weight: 500;
			padding: 0px 100px 0px 0px;
			text-align: right;
			span + span {
				padding: 0px 0px 0px 12px;
			}
		}
	}

	/* .top__bottom */

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	/* .top__items */

	&__items {
		width: 50%;
		display: flex;
		justify-content: space-around;
	}

	/* .top__item */

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		border: 1px solid #1b1818;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 10px;
		width: 150px;
		height: 150px;
		transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transform: scale(1.25);
		}
	}

	/* .top__item-img */

	&__item-img {
	}

	/* .top__item-text */

	&__item-text {
	}

	/* .top__links */

	&__links {
		padding: 0px 80px 0px 0px;
	}

	/* .top__link */

	&__link {
		border-bottom: 1px solid #1b1818;
		&:not(:last-child) {
			margin: 0px 20px 0px 0px;
		}
	}
}

.slick-dots {
	text-align: center;
	button {
		font-size: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #332208;
	}
}
.slick-active {
	button {
		width: 16px;
		height: 16px;
	}
}
.aplication-btn {
	display: inline-block;
	padding: 16px 19px;
	background: #c5ac2d;
	text-transform: uppercase;
	color: #fefefe;
	transition: all 0.5s;
	border: 1px solid transparent;
	&:hover {
		color: #c5ac2d;
		background: #fefefe;
		border: 1px solid #c5ac2d;
	}
}

.rent {
	padding: 100px 0px;

	/* .rent__container */

	&__container {
	}

	/* .rent__inner */

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	/* .rent__content */

	&__content {
		max-width: 300px;
		// display: flex;
		// flex-direction: column;
	}

	/* .rent__title */

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.2;
		margin: 0px 0px 30px 0px;
	}

	/* .rent__text */

	&__text {
		margin: 0px 0px 20px 0px;
	}
	&__text + &__text {
		margin: 0px 0px 40px 0px;
	}

	/* .rent__item */

	&__item {
		max-width: 250px;
		min-height: 350px;
		border: 1px solid #332208;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 0px 35px 40px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transition: all 0.5s;
		cursor: pointer;
		&:hover {
			transform: scale(1.25);
		}
	}

	/* .rent__item-num */

	&__item-num {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 96px;
		line-height: 1.19;
		opacity: 0.1;
	}

	/* .rent__item-title */

	&__item-title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		margin-bottom: auto;
	}

	/* .rent__item-text */

	&__item-text {
	}
}

.benefits {
	padding: 100px 0px;

	/* .benefits__container */

	&__container {
	}

	/* .benefits__title */

	&__title {
		font-family: "Fira Sans";
		font-weight: 500;
		font-size: 24px;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0px 0px 48px 0px;
	}

	/* .benefits__inner */

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* .benefits__list */

	&__list {
		max-width: 300px;
	}

	/* .benefits__list-item */

	&__list-item {
		padding: 0px 26px 0px 0px;
		position: relative;
		text-align: right;
		&:not(:last-child) {
			margin: 0px 0px 27px 0px;
		}		
		&::after {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			right: 0;
			top: 2px;
			background-color: #000;			
		}
		&:nth-child(1),&:nth-child(7) {
			margin-right: 13px;
		}
		&:nth-child(2),&:nth-child(6) {
			margin-right: 60px;
		}
		&:nth-child(3),&:nth-child(5) {
			margin-right: 112px;
		}
		&:nth-child(4) {
			margin-right: 158px;
		}
	}

	/* .benefits__images */

	&__images {
	}

	/* .benefits__content */

	&__content {
		max-width: 300px;
		text-align: right;
	}

	/* .benefits__text */

	&__text {
		margin: 0px 0px 30px 0px;		
	}

	&__text + &__text {
		max-width: 267px;
		margin-left: auto;
	}
}
.video-popup {
	display: inline-block;
	background: #c5ac2d;
	padding: 6px 34px 6px 64px;
	text-align: center;
	text-transform: uppercase;
	color: #fefefe;
	max-width: 200px;
	transition: all 0.5s;
	border: 1px solid transparent;
	position: relative;
	&:hover {
		color: #c5ac2d;
		background: #fefefe;
		border: 1px solid #c5ac2d;
	}
	&::after {
		content: '';
		width: 25px;
		height: 25px;
		position: absolute;
		background-image: url(../images/video-btn.svg);
		top: 12px;
		left: 34px;
	}
}
