@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap");
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #1b1818;
  font-size: 16px;
  line-height: 1.18;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  background: #332208;
  color: #fefefe;
  /* .header__container */
  /* .header__inner */
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.logo {
  /* .logo__link */
}

.menu {
  /* .menu__list */
  /* .menu__item */
  /* .menu__list-link */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.menu__list-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  padding-bottom: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fefefe;
}

.phone {
  font-size: 18px;
  line-height: 1.16;
}

.top {
  /* .top__container */
  /* .top__heading */
  /* .top__content */
  /* .top__title */
  /* .top__text */
  /* .top__slider */
  /* .top__bottom */
  /* .top__items */
  /* .top__item */
  /* .top__item-img */
  /* .top__item-text */
  /* .top__links */
  /* .top__link */
}

.top__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 52px 0px 30px 0px;
}

.top__content {
  text-align: center;
  padding: 89px 0px 0px 0px;
  width: 50%;
}

.top__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  margin: 0px auto 20px;
  max-width: 455px;
}

.top__text {
  font-size: 24px;
  line-height: 1.16;
  margin: 0px auto 63px;
  max-width: 470px;
}

.top__slider {
  width: 50%;
}

.top__slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__slider-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  padding: 0px 100px 0px 0px;
  text-align: right;
}

.top__slider-text span + span {
  padding: 0px 0px 0px 12px;
}

.top__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__items {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  border: 1px solid #1b1818;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.top__item:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.top__links {
  padding: 0px 80px 0px 0px;
}

.top__link {
  border-bottom: 1px solid #1b1818;
}

.top__link:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #332208;
}

.slick-active button {
  width: 16px;
  height: 16px;
}

.aplication-btn {
  display: inline-block;
  padding: 16px 19px;
  background: #c5ac2d;
  text-transform: uppercase;
  color: #fefefe;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.aplication-btn:hover {
  color: #c5ac2d;
  background: #fefefe;
  border: 1px solid #c5ac2d;
}

.rent {
  padding: 100px 0px;
  /* .rent__container */
  /* .rent__inner */
  /* .rent__content */
  /* .rent__title */
  /* .rent__text */
  /* .rent__item */
  /* .rent__item-num */
  /* .rent__item-title */
  /* .rent__item-text */
}

.rent__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rent__content {
  max-width: 300px;
}

.rent__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0px 0px 30px 0px;
}

.rent__text {
  margin: 0px 0px 20px 0px;
}

.rent__text + .rent__text {
  margin: 0px 0px 40px 0px;
}

.rent__item {
  max-width: 250px;
  min-height: 350px;
  border: 1px solid #332208;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 35px 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rent__item-num {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 1.19;
  opacity: 0.1;
}

.rent__item-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: auto;
}
